{% block file_widget %}

    {% spaceless %}

        {% if image_url is not null %}
            <img src="{{ asset(image_url) }}" id="edit_profile_img"/>
            {{ block('form_widget') }}
        {% else %}
            {{ block('form_widget') }}
        {% endif %}

    {% endspaceless %}

{% endblock %}

{% block ImageType_row %}
    <section class="form_row">
        <div class="form_errors">
            {{ form_errors(form.file) }}  <!-- Errors -->
        </div>
        <div class="form_widget">
            {{ form_widget(form.file) }}  <!-- Widget -->
        </div>
    </section>
{% endblock %}

{% block UserType_widget %}

    <!-- Profile Image -->
    {{ form_row(form.img) }}

    <!-- Name -->
    <section class="form_row">
        <div class="form_label">
            {{ form_label(form.firstName) }}   <!-- Label -->
        </div>
        <div class="form_errors">
            {{ form_errors(form.firstName) }}  <!-- Errors -->
        </div>
        <div class="form_widget">
            {{ form_widget(form.firstName) }}  <!-- Widget -->
        </div>
    </section>

    <!-- Last Name -->
    <section class="form_row">
        <div class="form_label">
            {{ form_label(form.lastName) }}   <!-- Label -->
        </div>
        <div class="form_errors">
            {{ form_errors(form.lastName) }}  <!-- Errors -->
        </div>
        <div class="form_widget">
            {{ form_widget(form.lastName) }}  <!-- Widget -->
        </div>
    </section>

    <!-- Mail -->
    <section class="form_row">
        <div class="form_label">
            {{ form_label(form.mail) }}   <!-- Label -->
        </div>
        <div class="form_errors">
            {{ form_errors(form.mail) }}  <!-- Errors -->
        </div>
        <div class="form_widget">
            {{ form_widget(form.mail) }}  <!-- Widget -->
        </div>
    </section>

    <!-- Password -->
    <section class="form_row">
        <div class="form_label">
            {{ form_label(form.plainPassword) }}   <!-- Label -->
        </div>
        <div class="form_errors">
            {{ form_errors(form.plainPassword) }}  <!-- Errors -->
        </div>
        <div class="form_widget">
            {{ form_widget(form.plainPassword) }}  <!-- Widget -->
        </div>
    </section>

    <!-- Submit -->
    <div id="submit_button">
        {{ form_widget(form.submit) }}
    </div>

{% endblock %}
