{% block file_widget %}
    <!-- TODO : refactor -->
    {% spaceless %}

        <!-- Custom file_widget layout -->
        <section class="form_row">

            <!-- Label is not display cause of img display -->
            {% if image_url is null %} <!-- image_url is set when the user edit a trick and the form display an existent image -->

                <div class="form_label">          <!-- Label -->
                    {{ block('form_label') }}
                </div>

            {% endif %}

            <!-- Errors display -->
            <div class="form_errors">         <!-- Errors -->

                <!-- Call brut errors view block -->
                {{ block('form_errors') }}

            </div>

            <!-- Widget display -->
            <div class="form_widget">

                <!-- If an image URL is set, build a img block with it -->
                {% if image_url is not null %}
                    <img src="{{ asset(image_url) }}"/>

                <!-- Else display the common FileType block -->
                {% else %}
                    {{ block('form_widget') }}
                {% endif %}

            </div>
        </section>

    {% endspaceless %}
{% endblock %}

{% block ImageType_row %}

    <!-- ImageType template -->
    <section class="image_row">

        <!-- Handle the case where the special parameter image_url is defined -->
        {% if form.vars.value is not null %}
            {{ form_widget(form.file) }}
        {% endif %}

        <!-- Name -->
        <section class="form_row">
            <div class="form_label">
                {{ form_label(form.name) }}   <!-- Label -->
            </div>
            <div class="form_errors">
                {{ form_errors(form.name) }}  <!-- Errors -->
            </div>
            <div class="form_widget">
                {{ form_widget(form.name) }}  <!-- Widget -->
            </div>
        </section>

        <!-- Alt Description -->
        <section class="form_row">
            <div class="form_label">
                {{ form_label(form.alt) }}   <!-- Label -->
            </div>
            <div class="form_errors">
                {{ form_errors(form.alt) }}  <!-- Errors -->
            </div>
            <div class="form_widget">
                {{ form_widget(form.alt) }}  <!-- Widget -->
            </div>
        </section>

        <!-- File widget when no existent data in form at build -->
        {% if form.vars.value is null %}
            {{ form_widget(form.file) }}
        {% endif %}

        <!-- If the theme is used as collection, display the hidden input -->
        {% if form.position is defined %}
            {{ form_widget(form.position) }}
        {% endif %}

        <!-- Symfony-Collection actions buttons -->
        <div class="collection-buttons">
            <img src="/media/picto/PicTaker.png" alt="Pictogramme d'un appareil photo">
            <a href="#" class="collection-add btn btn-default">✚</a>
            <a href="#" class="collection-remove btn btn-default">━</a>
            <a href="#" class="collection-down btn btn-default">▾</a>
            <a href="#" class="collection-up btn btn-default">▴</a>
        </div>

    </section>

{% endblock %}
