{% block file_widget %}
    {% spaceless %}

        {% if image_url is not null %}
            <img src="{{ asset(image_url) }}" style="display:block"/>
        {% else %}
            {{ block('form_widget') }}
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block ImageType_row %}
    <table class="img">
        <tr>
            <td>
                {{ form_label(form.file) }}
            </td>
            <td>
                {{ form_widget(form.file) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.name) }}
            </td>
            <td>
                {{ form_widget(form.name) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.alt) }}
            </td>
            <td>
                {{ form_widget(form.alt) }}
            </td>
        </tr>
        {{ form_widget(form.position) }}
    </table>
{% endblock %}