{% block UserType_widget %}
    <table class="form_table">
        {{ form_row(form.img) }}
        <tr>
            {{ form_errors(form.firstName) }}
        </tr>
        <tr>
            <td>
                {{ form_label(form.firstName) }}
            </td>
            <td>
                {{ form_widget(form.firstName) }}
            </td>
        </tr>
        <tr>
            {{ form_errors(form.lastName) }}
        </tr>
        <tr>
            <td>
                {{ form_label(form.lastName) }}
            </td>
            <td>
                {{ form_widget(form.lastName) }}
            </td>
        </tr>
        <tr>
            {{ form_errors(form.mail) }}
        </tr>
        <tr>
            <td>
                {{ form_label(form.mail) }}
            </td>
            <td>
                {{ form_widget(form.mail) }}
            </td>
        </tr>
        <tr>
            {{ form_errors(form.userName) }}
        </tr>
        <tr>
            <td>
                {{ form_label(form.userName) }}
            </td>
            <td>
                {{ form_widget(form.userName) }}
            </td>
        </tr>
        <tr>
            {{ form_errors(form.plainPassword) }}
        </tr>
        <tr>
            <td>
                {{ form_label(form.plainPassword) }}
            </td>
            <td>
                {{ form_widget(form.plainPassword) }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form_widget(form.submit) }}</td>
        </tr>
    </table>
{% endblock %}
