{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajouter une figure</h1>
    <div class="container">
        {% form_theme form
            'form/jquery.collection.html.twig'
        %}
        {{ form(form) }}
    </div>


    {#{{ form_start(form) }}#}
        {#<h3>Figure</h3>#}

        {#<table>#}
            {#<tr>#}
                {#<td>{{ form_label(form.name) }}</td>#}
                {#<td>{{ form_widget(form.name) }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>{{ form_label(form.description) }}</td>#}
                {#<td>{{ form_widget(form.description) }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>{{ form_label(form.category) }}</td>#}
                {#<td>{{ form_widget(form.category) }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>{{ form_label(form.author) }}</td>#}
                {#<td>{{ form_widget(form.author) }}</td>#}
            {#</tr>#}
        {#</table>#}

        {#<h3>Photos</h3>#}
        {#<ul class="imgs" data-prototype="{{ form_widget(form.imgs.vars.prototype)|e('html_attr') }}">#}
            {# iterate over each existing tag and render its only field: name #}
            {#{% for img in form.imgs %}#}
                {#<li>{{ form_row(img) }}</li>#}
            {#{% endfor %}#}
        {#</ul>#}

        {#{{ form_widget(form.save) }}#}
    {#{{ form_end(form) }}#}

{% endblock %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {#<script src="/js/main.js"></script>#}
    <script src="/js/jquery.collection.js"></script>

    <script type="text/javascript">
        $('.img').collection({
            min: 1,
            position_field_selector: '.img-position'
        });
    </script>

{% endblock %}