{% block TrickType_widget %}

    <!-- TrickType template -->
    <section class="trick_form">
        <div id="global_errors">
            {{ form_errors(form) }}
        </div>

        <h3>Informations</h3>

        <!-- Name -->
        <section class="form_row">
            <div class="form_label">
                {{ form_label(form.name) }}   <!-- Label -->
            </div>
            <div class="form_errors">
                {{ form_errors(form.name) }}  <!-- Errors -->
            </div>
            <div class="form_widget">
                {{ form_widget(form.name) }}  <!-- Widget -->
            </div>
        </section>

        <!-- Category -->
        <section class="form_row">
            <div class="form_label">
                {{ form_label(form.category) }}   <!-- Label -->
            </div>
            <div class="form_errors">
                {{ form_errors(form.category) }}  <!-- Errors -->
            </div>
            <div class="form_widget">
                {{ form_widget(form.category) }}  <!-- Widget -->
            </div>
        </section>

        <!-- Description -->
        <section class="form_row">
            <div class="form_label">
                {{ form_label(form.description) }}   <!-- Label -->
            </div>
            <div class="form_errors">
                {{ form_errors(form.description) }}  <!-- Errors -->
            </div>
            <div class="form_widget">
                {{ form_widget(form.description) }}  <!-- Widget -->
            </div>
        </section>
        <hr class="hr_form_section">

        <!-- Images -->
        <h3>Images</h3>
        {{ form_row(form.imgs) }}
        <hr class="hr_form_section">

        <!-- Videos -->
        <h3>Vidéos</h3>
        {{ form_row(form.videos) }}
        <hr class="hr_form_section">

        <!-- Submit -->
        <div id="submit_button">
            {{ form_widget(form.submit) }}
        </div>

    </section>

{% endblock %}
