{% block url_widget %}
    {% spaceless %}

        {% if video_url is not null %}
            <embed width="250" height="120" src="{{ asset(video_url) }}">
            {{ form_widget(form) }}
        {% else %}
            {{ block('form_widget') }}
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block VideoType_row %}

    <!-- ImageType template -->
    <section class="video_row">

        <!-- Source -->
        <section class="form_row">

            <!-- Check if form is hydrated by existent data -->
            {% if form.vars.value is null %}
                <div class="form_label">
                    {{ form_label(form.src) }}   <!-- Label -->
                </div>
            {% endif %}
            <div class="form_errors">
                {{ form_errors(form.src) }}     <!-- Errors -->
            </div>
            <div class="form_widget">
                {{ form_widget(form.src) }}     <!-- Widget -->
            </div>

        </section>

        <!-- Name -->
        <section class="form_row">
            <div class="form_label">
                {{ form_label(form.name) }}   <!-- Label -->
            </div>
            <div class="form_errors">
                {{ form_errors(form.name) }}  <!-- Errors -->
            </div>
            <div class="form_widget">
                {{ form_widget(form.name) }}  <!-- Widget -->
            </div>
        </section>

        <!-- Alt Description -->
        <section class="form_row">
            <div class="form_label">
                {{ form_label(form.alt) }}   <!-- Label -->
            </div>
            <div class="form_errors">
                {{ form_errors(form.alt) }}  <!-- Errors -->
            </div>
            <div class="form_widget">
                {{ form_widget(form.alt) }}  <!-- Widget -->
            </div>
        </section>

        <div class="collection-buttons">
            <img src="/media/picto/Camera.png" alt="Pictogramme d'une caméra vidéo">
            <a href="#" class="collection-add btn btn-default">✚</a>
            <a href="#" class="collection-remove btn btn-default">━</a>
            <a href="#" class="collection-down btn btn-default">▾</a>
            <a href="#" class="collection-up btn btn-default">▴</a>
        </div>

        {% if form.position is defined %}
            {{ form_widget(form.position) }}
        {% endif %}

    </section>

{% endblock %}
