{% block url_widget %}
    {% spaceless %}

        {% if video_url is not null %}
            <embed width="250" height="120" src="{{ asset(video_url) }}">
        {% else %}
            {{ block('form_widget') }}
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block VideoType_row %}
    <table>
        <tr>
            {{ form_errors(form.src) }}
        </tr>
        <tr>
            <td>
                {{ form_label(form.src) }}
            </td>
            <td>
                {{ form_widget(form.src) }}
            </td>
        </tr>
        <tr>
            {{ form_errors(form.name) }}
        </tr>
        <tr>
            <td>
                {{ form_label(form.name) }}
            </td>
            <td>
                {{ form_widget(form.name) }}
            </td>
        </tr>
        <tr>
            {{ form_errors(form.alt) }}
        </tr>
        <tr>
            <td>
                {{ form_label(form.alt) }}
            </td>
            <td>
                {{ form_widget(form.alt) }}
            </td>
        </tr>
        {{ form_widget(form.position) }}
    </table>
{% endblock %}
