{% block VideoType_row %}
    <table>
        <tr>
            <td>
                {{ form_label(form.name) }}
            </td>
            <td>
                {{ form_widget(form.name) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.alt) }}
            </td>
            <td>
                {{ form_widget(form.alt) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.src) }}
            </td>
            <td>
                {{ form_widget(form.src) }}
            </td>
        </tr>
        {{ form_widget(form.position) }}
    </table>
{% endblock %}