{% extends 'base.html.twig' %}

{% block body %}

    <section id="page_header">
        <h1>Les figures</h1>
        <p>
            Vous retrouvez ici un annuaire de figures de snowboard communautaire. En effet chacun a la possibilité d'enrichir
            ce répertoire et d'interagir avec les autres membres par le biais d'un espace de discussion. Rejoignez-nous!
        </p>
        <div id="page_header_menu">
            <div id="phm_top">
                <span>Filtrer</span>
                <img src="/media/picto/ArrowDown.png" alt="Flèche pointant vers le bas">
            </div>
            <div id="category_list">

                {% for cat in categories %}
                    <div>
                        <a href="#">
                            <img src="/media/img/users/thibaud-lafont.jpeg" alt="{{ cat.name }}"><br/>
                            <span>{{ cat.name }}</span>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <hr class="trick_item_hr">
    {% for trick in tricks %}
        <article class="trick_list_item">
            <div class="item_header">
                <h2>{{ trick.name }}</h2>
                <div>
                    <img src="/media/picto/Author.png" alt="Pictogramme représentant un utilisateur">
                    <span>Posté par {{ trick.author.fullName }}</span>
                </div>
            </div>

            <img class="item_main_img" src="{{ trick.imgs[0].url }}" alt="{{ trick.imgs[0].alt }}">

            <p class="item_description">
                {{ trick.descriptionFrag }}
            </p>

            <span class="item_show_link">
                <a href="{{ trick.url }}">
                    Voir la figure
                    <img src="/media/picto/Eye.png" alt="Pictogramme d'un oeil">
                </a>
            </span>
        </article>
        <hr class="trick_item_hr">
    {% endfor %}
    
{% endblock %}
