{% extends 'base.html.twig' %}

{% block body %}

    <section id="page_header">
        <h1>Les figures</h1>
        <p>
            Vous retrouvez ici un annuaire de figures de snowboard communautaire. En effet chacun a la possibilité d'enrichir
            ce répertoire et d'interagir avec les autres membres par le biais d'un espace de discussion. Rejoignez-nous!
        </p>
        <div id="page_header_menu">
            <div id="phm_top">
                <div class="vm_cell">
                    <span>Filtrer</span>
                </div>
                <div class="vm_cell">
                    <img onClick="openbox()" src="/media/picto/ArrowDown.png" alt="Flèche pointant vers le bas">
                </div>
            </div>
            <div id="category_list" class="openbox">

                {% for cat in categories %}
                    <div>
                        <a href="{{ cat.editUrl }}">
                            <img src="/media/img/users/thibaud-lafont.jpeg" alt="{{ cat.name }}"><br/>
                            <span>{{ cat.name }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    {% if tricks is not empty %}
        <hr class="trick_item_hr">
    {% endif %}

    {% for trick in tricks %}
        <article class="trick_list_item">
            <div class="item_header">
                <h2>{{ trick.name }}</h2>
                <div id="list_author_block" class="author_block">
                    <div class="vm_cell">
                        <img src="/media/picto/Author.png" alt="Pictogramme représentant un utilisateur">
                    </div>
                    <div class="vm_cell">
                        <span>Posté par {{ trick.author.fullName }}</span>
                    </div>
                </div>
            </div>

            <img class="item_main_img" src="{{ trick.imgs[0].url }}" alt="{{ trick.imgs[0].alt }}">

            <p class="item_description">
                {{ trick.descriptionFrag|striptags()|raw }}
            </p>

            <span class="item_show_link">
                <a href="{{ trick.url }}">
                    <span class="vm_cell">
                        Voir la figure
                    </span>
                    <div class="vm_cell">
                        <img src="/media/picto/Eye.png" alt="Pictogramme d'un oeil">
                    </div>
                </a>
            </span>
        </article>
        <hr class="trick_item_hr">
    {% endfor %}

{% endblock %}


{% block javascripts %}
    <script>
        function openbox(){
            if($('#category_list.openbox').is(':visible')){
                $('#category_list.openbox').hide();
            }else{
                $('#category_list.openbox').show();
            }
        }
    </script>
{% endblock %}