{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        {{ trick.name }}
    </h1>
    <article>
        {% if is_granted('ROLE_ADMIN') %}
            <p>
                <a href="/admin/edit/trick/{{ trick.id }}">Modifier</a>
                <a href="/admin/delete/trick/{{ trick.id }}">Supprimer</a>
            </p>
        {% endif %}
        <p>
            <img src="{{ trick.author.img.url }}" alt="{{ trick.author.img.alt }}" style="width:50px">
            Posté par {{ trick.author.fullName }}
        </p>

        <div>
            {% for img in trick.imgs %}
                    <img src="{{ img.url }}" alt="{{ img.alt }}">
            {% endfor %}
        </div>

        <div>
            {% for video in trick.videos %}
                <embed width="250" height="120" src="{{ video.src }}">
            {% endfor %}
        </div>

        <h2>Explications</h2>
        <p>{{ trick.description }}</p>

    </article>
    
{% endblock %}
