{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        {{ trick.name }}
    </h1>
    <article>
        {% if is_granted('ROLE_ADMIN') %}
            <p>
                <a href="/admin/edit/trick/{{ trick.id }}">Modifier</a>
                <a href="/admin/delete/trick/{{ trick.id }}">Supprimer</a>
            </p>
        {% endif %}
        <p>
            <img src="{{ trick.author.img.url }}" alt="{{ trick.author.img.alt }}" style="width:50px">
            Posté par {{ trick.author.fullName }}
        </p>

        <div>
            {% for img in trick.imgs %}
                    <img src="{{ img.url }}" alt="{{ img.alt }}">
            {% endfor %}
        </div>

        <div>
            {% for video in trick.videos %}
                <embed width="250" height="120" src="{{ video.src }}">
            {% endfor %}
        </div>

        <h2>Explications</h2>
        <p>{{ trick.description }}</p>

        <h2>Discussion</h2>
        {% for message in trick.messages %}
            <h4>{{ message.user.fullName }}</h4>
            <p>{{ message.content }} <span style="font-size: 8px; font-style: italic">Le {{ message.frenchDate }}</span></p>
        {% endfor %}


        <h3>Participer à la discussion</h3>
        {% if is_granted('ROLE_ADMIN') %}
            {% form_theme form
                'form_table_layout.html.twig'
            %}
            {{ form(form) }}
        {% else %}
            <p>Pour envoyer des messages, vous devez vous inscrire ou vous connecter</p>
            <p>
                <a href="/register">S'inscrire</a>
                <a href="/login">Se connecter</a>
            </p>
        {% endif %}
    </article>
    
{% endblock %}
