{% extends 'base.html.twig' %}

{# Import Fancybox's stylesheet #}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">
{% endblock %}

{% block body %}

    <!-- Show page's subheader -->
    <section id="page_header">

        <!-- Main title -->
        <h1>{{ trick.name }}</h1>

        <!-- Author section -->
        <img id="show_user_pic" src="{{ trick.author.img.url }}" alt="{{ trick.author.img.alt }}">
        <div id="show_author_block" class="author_block">
            <div class="vm_cell">
                <img src="/media/picto/Author.png" alt="Pictogramme représentant un utilisateur">
            </div>
            <div class="vm_cell">
                <span>{{ trick.author.fullName }}</span>
            </div>
        </div>

        <!-- Admin's actions -->
        {% if is_granted('ROLE_ADMIN') %}
            <div id="show_edit_actions">
                <a href="/admin/edit/trick/{{ trick.id }}" class="pink_button">Modifier</a>
                <a href="/admin/delete/trick/{{ trick.id }}" class="pink_button">Supprimer</a>
            </div>
        {% endif %}

        <hr class="pink">

        <!-- Display of chat's messages -->
        <div id="message_block">
            <div class="vm_cell ta-left">
                <img src="/media/picto/Message.png" alt="Pictogramme représentant un message">
            </div>
            <div class="vm_cell ta-right">
                <span>269 messages</span>
            </div>
        </div>
    </section>

    <!-- Content of the trick -->
    <article id="show_article">

        <!-- Trick's medias -->
        <section>

            <!-- Main trick's picture -->
            <a href="{{ trick.imgs[0].url }}" data-fancybox="imgs">
                <img id="show_main_img" src="{{ trick.imgs[0].url }}" alt="{{ trick.imgs[0].alt }}">
            </a>

            <!-- Others trick's medias -->
            <section id="show_gallery">

                <!-- Block used to hide and show menu's links -->
                <div id="top_show_gallery">
                    <div class="vm_cell line_picto">
                        <img src="/media/picto/Camera.png" alt="Pictogramme représentant un utilisateur">
                    </div>
                    <div class="vm_cell">
                        <span>MÉDIAS</span>
                    </div>
                    <div class="vm_cell arrow_down">
                        <img onClick="openmediabox()" src="/media/picto/ArrowDown.png" alt="Flèche pointant vers le bas">
                    </div>
                </div>

                <!-- Medias display -->
                <section class="openbox">

                    <!-- Trick's pictures -->
                    {% for img in trick.imgs %}
                        {% if loop.index0 != 0 %}
                            <a href="{{ img.url }}" data-fancybox="medias">
                                <span class="hovertxt">
                                    VOIR
                                </span>
                                <img src="{{ img.url }}" alt="{{ img.alt }}">
                            </a>
                        {% endif %}
                    {% endfor %}

                    <!-- Trick's videos -->
                    {% for video in trick.videos %}
                        <a href="{{ video.src }}" data-fancybox="medias">
                            <embed src="{{ video.src }}">
                        </a>
                    {% endfor %}

                </section>
            </section>
        </section>

        <!-- Trick's content -->
        <h2>Explications</h2>
        <p>{{ trick.description|striptags('<h3>,<h2>,<br>')|raw }}</p>

        <!-- Trick's chat -->
        <section id="show_chat">

            <!-- Hide and show block -->
            <div id="top_show_chat">
                <div class="vm_cell line_picto">
                    <img src="/media/picto/Message.png" alt="Pictogramme représentant un utilisateur">
                </div>
                <div class="vm_cell">
                    <span>DISCUSSION</span>
                </div>
                <div class="vm_cell arrow_down">
                    <img onClick="openchatbox()" src="/media/picto/ArrowDown.png" alt="Flèche pointant vers le bas">
                </div>
            </div>

            <!-- Posted messages and form -->
            <section class="openbox">

                <!-- Messages display -->
                <div id="posted_messages">
                    {% if messages is empty %}
                        <span class="noentry">
                            Aucun message posté.
                        </span>
                    {% else %}
                        {% for message in messages %}
                            <div class="message">
                                <div class="vm_cell">
                                    <img src="{{ message.user.img.url }}" alt="{{ message.user.img.alt }}">
                                </div>
                                <div class="vt_cell message_right_block">
                                    <span class="message_author_name">{{ message.user.fullName }}</span>
                                    <span class="message_creation_date">{{ message.frenchDate }}</span>
                                    <span class="message_content">{{ message.content }} </span>
                                </div>
                            </div>
                            {% if not loop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                        {% if pgNbr is not null %}
                            <p id="chat_pagination">
                            {% for i in 1..pgNbr %}
                                <a href="{{ i }}">{{ i }}</a>
                            {% endfor %}
                            </p>
                        {% endif %}
                    {% endif %}
                </div>

                <!-- If user is logged, display the form -->
                {% if is_granted('ROLE_ADMIN') %}
                    {% form_theme form
                        'form/_chat_form_theme.html.twig'
                    %}
                    {{ form(form) }}

                <!-- If user isn't logged, display the sign-in/sign-up message -->
                {% else %}
                    <p id="chat_need_log">
                        Pour envoyer des messages, vous devez vous inscrire ou vous connecter
                        <span>
                            <a href="/register" class="pink_button">Inscription</a>
                            <a href="/login" class="pink_button">Connexion</a>
                        </span>
                    </p>
                {% endif %}

            </section>
        </section>
    </article>
    
{% endblock %}

{% block javascripts %}
    <!-- Import FancyBox for medias gallery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <!-- FancyBox settings -->
    <script>
        // Options for the first group
        $('[data-fancybox="imgs"]').fancybox({
            protect: true,
            loop: true,
            buttons : [
                'zoom',
                'thumbs',
                'share',
                'close',
            ]
        });
    </script>
    <!-- Open media box -->
    <script>
        function openmediabox(){
            if($('#show_gallery .openbox').is(':visible')){
                $('#show_gallery .openbox').hide();
            }else{
                $('#show_gallery .openbox').show();
            }
        }
        function openchatbox(){
            if($('#show_chat .openbox').is(':visible')){
                $('#show_chat .openbox').hide();
            }else{
                $('#show_chat .openbox').show();
            }
        }
    </script>
{% endblock %}
